<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Astronomy Picture of the Day</title>
</head>
<body>
    <h1 style="color: #3C552D"> Astronomy Picture of the Day - {{ date }} 🌠</h1>
    <h2>{{ title }}</h2>
    <img src="{{ apod.url }}" alt="Astronomy Picture of the Day" width="600"> <!--- Image retrieved from NASA API -->
    <p>{{ explanation }}</p>
    <a href="/">Back to Home</a>
</body>
</html>